/*
art space tetra
design : Keiji Tanaka (Calamari Inc.) 
2004-2008.09.30
*/

body {
	margin: 8px;
	padding: 0;
	font-family: arial, helvetica, 'trebuchet ms', verdana, sans-serif;
	color: #494949;
	background-color: #F5F7F6;
}
#container {
	margin: 0;
	padding: 0 5px;
	width: 100%;
}

img { max-width: 100%; }
a img { border: none; }

a {
	text-decoration: none;
	color: #375257;
}
a:hover, .block1 h3 a:hover, .block_box h3 a:hover { color: #D1DDE0; }

.clear, .clear5, .clear10, .clear20, .clear30, .clear40, .clear50, .clear100 {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
	float: none;
}
.clear { height: 1px; }
.clear5 { height: 5px; }
.clear10 { height: 10px; }
.clear20 { height: 20px; }
.clear30 { height: 30px; }
.clear40 { height: 40px; }
.clear50 { height: 50px; }
.clear100 { height: 100px; }


/* header */
#header {
	width: 100%;
	margin: 30px 0 ;
	padding: 0;
	align: center;
}


/* footer */
#footer {
	margin:0;
	padding: 0;
	font-size: small;
}


/* main */
div.main {
	margin: 0;
	padding: 0;
}
.block1 {
	margin: 0 0 1.5em 0;
	padding: 0;
}
.block1 p {
	margin: 0 0 1em 0;
	padding: 0;
	font-size: small;
	line-height: 1.5em;
}
.block1 h3 {
	font-size: medium;
	margin: 0;
	padding: 0 0 0.3em 0;
	font-weight: normal;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}
.block1 h3 a { color: #000; }


/* p */
span.m_body p {
	width: 100%;
	margin: 1em 0;
	padding: 0;
	font-size: small;
	line-height: 1.5em;
}
span.m_body p img {
	margin: 2px 0;
	padding: 0;
}

/* line */
div.line1 {
	border-top: 1px dotted #000000;
	margin: 0 0 3em 0;
	padding: 0;
	height: 1px;
	width: 100%;
}
