.text09 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 9px;
	line-height: 12px;
}
.text10 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 10px;
	line-height: 14px;
}
.text11 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 11px;
	line-height: 16px;
}
.text12 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 12px;
	line-height: 18px;
}
.text13 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 13px;
	line-height: 18px;
}
.text14 {
	font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", "sans-serif";
	font-size: 14px;
	line-height: 18px;
}
.month {
	font-family: "Myriad Roman", "Myriad", "Trebuchet MS", "Trebuchet MS Regular", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.midashi1 {
	font-family: "Myriad Roman", "Myriad", "Trebuchet MS", "Trebuchet MS Regular", "Arial", "Helvetica", "sans-serif";
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}
