<!-- TMPL_INCLUDE NAME=html_header.tmpl -->








<style>
td { font-size: 12px; }
.textcolor {
	background-color:#EBEBEB;
}
</style>



<div align="center">各種設定<br><br>

  <br>
<!-- TMPL_IF NAME=oktext -->
<font color="red"><b><!-- TMPL_VAR NAME=oktext --></b></font><br>
<!-- /TMPL_IF -->
<form name="form1" method="post" action="admin_edit_ctl.cgi">
  <table border="0" cellspacing="1" cellpadding="5" width="650" bgcolor="#FF9900">
  <!-- TMPL_UNLESS NAME=writing -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">著作権非表示<br>申請用コード</td>
      <td bgcolor="#FFFFFF"> <!-- TMPL_VAR NAME=writing_code --></td>
    </tr>
  <!-- /TMPL_UNLESS -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール差出人名</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="admin_name" size="60" value="<!-- TMPL_VAR NAME=admin_name -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール差出人メールアドレス</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="admin_email" size="60" value="<!-- TMPL_VAR NAME=admin_email -->"><br>※半角英数字</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">ログインID</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="login_id" size="30" value="<!-- TMPL_VAR NAME=login_id -->"><br>※半角英数字</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">パスワード</td>
      <td bgcolor="#FFFFFF"> <input type="password" name="login_pass" size="30" value="<!-- TMPL_VAR NAME=login_pass -->"><br>※半角英数字</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">パスワード(確認用)</td>
      <td bgcolor="#FFFFFF"> <input type="password" name="login_pass2" size="30" value="<!-- TMPL_VAR NAME=login_pass -->"><br>※半角英数字</td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">タイトル</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="title" size="30" value="<!-- TMPL_VAR NAME=title -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">sendmailパス</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="sendmail_path" size="30" value="<!-- TMPL_VAR NAME=sendmail_path -->"><br><font color="red" size="-1"><!-- TMPL_VAR NAME=sendmail_path_check --></font></td>
    </tr>
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">QMAIL</td>
      <td bgcolor="#FFFFFF"> <input type="checkbox" name="qmail" value="1" <!-- TMPL_VAR NAME=qmail_checked -->>QMAIL</td>
    </tr>
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信モード</td>
      <td bgcolor="#FFFFFF">
		<input type="radio" name="send_type" size="30" value="0" <!-- TMPL_VAR NAME=send_type_0_checked -->>ノーマル<br>
		<input type="radio" name="send_type" size="30" value="1" <!-- TMPL_VAR NAME=send_type_1_checked -->>分割送信　
		分割送信件数<input type="text" name="divnum" size="4" value="<!-- TMPL_VAR NAME=divnum -->">件
		分割待ち時間<input type="text" name="divwait" size="4" value="<!-- TMPL_VAR NAME=divwait -->">秒<br>
		<input type="radio" name="send_type" value="2" <!-- TMPL_VAR NAME=send_type_2_checked -->>バックグラウンド送信
		
		</td>
    </tr>
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">バックナンバー表示</td>
      <td bgcolor="#FFFFFF"> <input type="checkbox" name="backnumber_disp" value="1" <!-- TMPL_VAR NAME=backnumber_checked -->>ON</td>
    </tr>
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メルマガ登録・削除<br>メール設定</td>
      <td bgcolor="#FFFFFF"> <input type="checkbox" name="merumaga_usermail" value="1" <!-- TMPL_VAR NAME=merumaga_usermail_checked -->>ユーザに自動返信メールを送る<br>
	  <input type="checkbox" name="merumaga_adminmail" value="1" <!-- TMPL_VAR NAME=merumaga_adminmail_checked -->>管理者にメールで伝える
	  <br>
	  <input type="checkbox" name="double_opt" value="1" <!-- TMPL_VAR NAME=double_opt_checked -->>ダブルオプトイン機能を使う
	  </td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">カウンター表示</td>
      <td bgcolor="#FFFFFF"> <input type="checkbox" name="counter_disp" value="1" <!-- TMPL_VAR NAME=counter_checked -->>ON</td>
    </tr>
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信履歴ログ</td>
      <td bgcolor="#FFFFFF"> <input type="checkbox" name="rireki_email" value="1" <!-- TMPL_VAR NAME=rireki_email_checked -->>送信メールアドレスも記憶する</td>
    </tr>
	 
	 
    <tr valign="top"> 
      <td bgcolor="#FFCC66">自由項目設定</td>
      <td bgcolor="#FFFFFF">
		<table>
		<tr><td></td><td>名称</td><td>必須</td></tr>
		<tr><td>項目1</td><td><input type="text" name="col1name" size="30" value="<!-- TMPL_VAR NAME=col1name -->"></td><td><input type="checkbox" name="col1checked" size="40" value="checked"<!-- TMPL_VAR NAME=col1checked -->>必須</td></tr>
		<tr><td>項目2</td><td><input type="text" name="col2name" size="30" value="<!-- TMPL_VAR NAME=col2name -->"></td><td><input type="checkbox" name="col2checked" size="40" value="checked"<!-- TMPL_VAR NAME=col2checked -->>必須</td></tr>
		<tr><td>項目3</td><td><input type="text" name="col3name" size="30" value="<!-- TMPL_VAR NAME=col3name -->"></td><td><input type="checkbox" name="col3checked" size="40" value="checked"<!-- TMPL_VAR NAME=col3checked -->>必須</td></tr>
		<tr><td>項目4</td><td><input type="text" name="col4name" size="30" value="<!-- TMPL_VAR NAME=col4name -->"></td><td><input type="checkbox" name="col4checked" size="40" value="checked"<!-- TMPL_VAR NAME=col4checked -->>必須</td></tr>
		<tr><td>項目5</td><td><input type="text" name="col5name" size="30" value="<!-- TMPL_VAR NAME=col5name -->"></td><td><input type="checkbox" name="col5checked" size="40" value="checked"<!-- TMPL_VAR NAME=col5checked -->>必須</td></tr>
		<tr><td>項目6</td><td><input type="text" name="col6name" size="30" value="<!-- TMPL_VAR NAME=col6name -->"></td><td><input type="checkbox" name="col6checked" size="40" value="checked"<!-- TMPL_VAR NAME=col6checked -->>必須</td></tr>
		<tr><td>項目7</td><td><input type="text" name="col7name" size="30" value="<!-- TMPL_VAR NAME=col7name -->"></td><td><input type="checkbox" name="col7checked" size="40" value="checked"<!-- TMPL_VAR NAME=col7checked -->>必須</td></tr>
		<tr><td>項目8</td><td><input type="text" name="col8name" size="30" value="<!-- TMPL_VAR NAME=col8name -->"></td><td><input type="checkbox" name="col8checked" size="40" value="checked"<!-- TMPL_VAR NAME=col8checked -->>必須</td></tr>
		<tr><td>項目9</td><td><input type="text" name="col9name" size="30" value="<!-- TMPL_VAR NAME=col9name -->"></td><td><input type="checkbox" name="col9checked" size="40" value="checked"<!-- TMPL_VAR NAME=col9checked -->>必須</td></tr>
		<tr><td>項目10</td><td><input type="text" name="col10name" size="30" value="<!-- TMPL_VAR NAME=col10name -->"></td><td><input type="checkbox" name="col10checked" size="40" value="checked"<!-- TMPL_VAR NAME=col10checked -->>必須</td></tr>
		
		</table>
		※必須にチェックが入っていると、メールアドレス登録時にエラーチェックを行います。
		</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">CGI設置URL<br>CGIを設置しているURLを入力してください。<br>例：http://www.abc.com/acmailer3/</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="homeurl" value="<!-- TMPL_VAR NAME=homeurl -->" size="60">
	  <br><font color="red" size="-1">※ここで入力されるURLは「メルマガフォーム設定例」のフォームタグとバックナンバーHTMLプレビューページのアクセス制御に反映されます。</font>
	  </td>
    </tr>
	<!-- TMPL_IF NAME=autoreg -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">空メール登録用設置パス</td>
      <td bgcolor="#FFFFFF"> <input type="text" name="mypath" value="<!-- TMPL_VAR NAME=mypath -->" size="60">
	  <br><font color="red" size="-1">※ここで入力されるパスは空メール登録用プログラムに使用されます。パスがわからない場合はサーバ管理者にお問い合わせください。</font>
	  </td>
    </tr>
	<!-- TMPL_IF NAME=mypath_ok -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">サーバ側パイプ処理<br>
	  設定文字列</td>
      <td bgcolor="#FFFFFF"> 
	  <table><tr><td>登録用</td><td><input type="text" value="| <!-- TMPL_VAR NAME=mypath -->lib/autoreg.pl reg" size="75" class="textcolor"></tr></table>
	  <table><tr><td>削除用</td><td><input type="text" value="| <!-- TMPL_VAR NAME=mypath -->lib/autoreg.pl del" size="75" class="textcolor"></tr></table>
	  <font color="red" size="-1">※このままコピーしてお使いください。</font>
	  </td>
    </tr>
	<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->
	 
    <tr valign="top"> 
      <td colspan="2" bgcolor="#FFFFFF"><div align="center"> 
      <input type="hidden" name="login_pass_org" size="30" value="<!-- TMPL_VAR NAME=login_pass -->">
            <input type="submit" name="Submit" value="変更">

          <br></div></td>
    </tr>
  </table>
</form>
</div>
<br><div align="center"><a href="index.cgi">戻る</a> </div><br>


















<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
