<!-- TMPL_INCLUDE NAME=html_header.tmpl -->


<div align="center">仮登録メールアドレス管理<br><br>
<!-- TMPL_IF NAME=oktext -->
<font color="red"><b><!-- TMPL_VAR NAME=oktext --></b></font><br>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME=totalnum -->

<br>
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">
  <form action="clean_double_opt_ctl.cgi" method="post">
    <tr> 
      <td bgcolor="#FFCC66" align="center">削除(<!-- TMPL_VAR NAME=totalnum -->件)</td>
	</tr>
	<tr>
	  <td bgcolor="#FFFFFF">
<input type="text" name="del_y" value="<!-- TMPL_VAR NAME=del_y -->" size="4">年<input type="text" name="del_m" value="<!-- TMPL_VAR NAME=del_m -->" size="2">月<input type="text" name="del_d" value="<!-- TMPL_VAR NAME=del_d -->" size="2">日以前のデータを
	  <input type="submit" value="削除" onclick="return confirm('削除しますか？')">
	  <input type="hidden" name="dispnum" value="<!-- TMPL_VAR NAME=dispnum -->">
	  </td>
	</tr>
  </form>
   </table>
   
<br>


  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">
    <tr bgcolor="#FFCC66">
	  <td align="center">登録日</td>
      <td align="center">メールアドレス</td>
    </tr>
<!-- TMPL_LOOP NAME=loop --> 
    <tr bgcolor="#FFFFFF"> 
      <td><!-- TMPL_VAR NAME=disp_date --></td>
      <td><!-- TMPL_VAR NAME=email --></td>
      
    </tr>
<!-- /TMPL_LOOP -->
  </table>

<br>
<!-- TMPL_VAR NAME=pagelink -->｜
<br><br>
<!-- TMPL_IF NAME=backlink -->
<A href="email_list.cgi?page=<!-- TMPL_VAR NAME=page_m1 -->&dispnum=<!-- TMPL_VAR NAME=dispnum --><!-- TMPL_VAR NAME=search_url -->" title="前のページ">＜前のページ</A>
<!-- /TMPL_IF -->
　
<!-- TMPL_IF NAME=nextlink -->
<A href="email_list.cgi?page=<!-- TMPL_VAR NAME=page_p1 -->&dispnum=<!-- TMPL_VAR NAME=dispnum --><!-- TMPL_VAR NAME=search_url -->" title="次のページ">次のページ＞</A>
<!-- /TMPL_IF -->

<br><br>

<SELECT name="dispnum"  onchange="changenum(options[selectedIndex].value)">
<OPTION value="">表示件数切替</OPTION>
<OPTION value="10" <!-- TMPL_VAR NAME=dispnum10_selected -->>10件</OPTION>
<OPTION value="25" <!-- TMPL_VAR NAME=dispnum25_selected -->>25件</OPTION>
<OPTION value="50" <!-- TMPL_VAR NAME=dispnum50_selected -->>50件</OPTION>
<OPTION value="100" <!-- TMPL_VAR NAME=dispnum100_selected -->>100件</OPTION>
<OPTION value="all" <!-- TMPL_VAR NAME=dispnumall_selected -->>全件</OPTION>
</SELECT>

<br><br>
<br><div align="center"><a href="index.cgi">戻る</a> </div><br>



<!-- TMPL_ELSE -->
現在仮登録されているメールアドレスはありません
<br><br>
<br><div align="center"><a href="index.cgi">戻る</a> </div><br>


<!-- /TMPL_IF -->













<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
