<!-- TMPL_INCLUDE NAME=html_header.tmpl -->





<div align="center">メールアドレス一括削除<br><br>
  <br>
<!-- TMPL_IF NAME=oktext -->
<font color="red"><b><!-- TMPL_VAR NAME=oktext --></b></font><br>
<!-- /TMPL_IF -->

		<form name="form1" method="post" action="email_del_check.cgi" ENCTYPE="multipart/form-data">

CSVファイルもしくはテキスト貼付より一括削除が可能です。

  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">CSVファイル</td>
      <td bgcolor="#FFFFFF">
		<input type="file" name="filename">
		</td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">テキスト貼付</td>
      <td bgcolor="#FFFFFF"> <textarea  name="emailall" rows="10" cols="50" ></textarea><br>
		</td>
    </tr>
    <tr valign="top"> 
      <td colspan="2" bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="一括削除">

          <br></div></td>
    </tr>
  </table>
		</form>
</div><br><br>
<div align="center"><a href="index.cgi">戻る</a> </div>










<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
