<!-- TMPL_INCLUDE NAME=html_header.tmpl -->

<style>
td { font-size:12px; }
</style>

<div align="center">メールアドレス一括登録<br><br>


<form name="form1" method="post" action="email_add_ctl.cgi">
<!-- TMPL_IF NAME=addnum -->
以下の内容で登録します。よろしければ登録ボタンを押してください。<br><br>

登録可能数：<!-- TMPL_VAR NAME=addnum -->件 <input type="submit" value="一括登録">　<INPUT type="button" onClick='history.back();' value="戻る">
<!-- TMPL_ELSE -->
登録できるデータがありません。<INPUT type="button" onClick='history.back();' value="戻る">

<!-- /TMPL_IF -->
<br><br>
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">
    <tr bgcolor="#FFCC66"> 
      <td>&nbsp;</td>
      <td align="center">メールアドレス</td>
      <td align="center"><!-- TMPL_VAR NAME=col1name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col2name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col3name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col4name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col5name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col6name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col7name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col8name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col9name -->&nbsp;</td>
      <td align="center"><!-- TMPL_VAR NAME=col10name -->&nbsp;</td>
      <td align="center">状態</td>
    </tr>
    <tr bgcolor="#EEEEEE"> 
      <td>&nbsp;</td>
      <td align="center"><font size="-1">(必須)</font></td>
      <td align="center"><!-- TMPL_IF NAME=col1checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col2checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col3checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col4checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col5checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col6checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col7checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col8checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col9checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center"><!-- TMPL_IF NAME=col10checked --><font size="-1">(必須)</font><!-- /TMPL_IF -->&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
<!-- TMPL_LOOP NAME=loop --> 
    <tr bgcolor="#FFFFFF"> 
      <td><!-- TMPL_VAR NAME=i --></td>
      <td><!-- TMPL_VAR NAME=email --></td>
      <td><!-- TMPL_VAR NAME=col1 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col2 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col3 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col4 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col5 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col6 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col7 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col8 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col9 -->&nbsp;</td>
      <td><!-- TMPL_VAR NAME=col10 -->&nbsp;</td>
		
      <td><font size="-2"><!-- TMPL_VAR NAME=status --></font></td>
    </tr>
<!-- /TMPL_LOOP -->
  </table>

<input type="hidden" name="emailall" value="<!-- TMPL_VAR NAME=emailall -->">


</form>
<br><br>




<br><br>
<br><div align="center"><a href="javascript:history.back()">戻る</a> </div><br>












<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
