<!-- TMPL_INCLUDE NAME=html_header.tmpl -->

<script type="text/javascript" src="./js/yahoo-min.js"></script>
<script type="text/javascript" src="./js/dom-min.js"></script>
<script type="text/javascript" src="./js/event-min.js"></script>
<script type="text/javascript" src="./js/container-min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/container.css" />
<script language="JavaScript">
<!--
var set=0;
function nidoosi() {
if(set==0){
set=1;
}else{
alert("ただ今送信中です。\nそのままお待ちください。");
return false
}
}
//-->
</script>



<div align="center">メール配信<br>
<form name="form1" method="post" action="email_send_ctl.cgi" onSubmit="return nidoosi()">

   
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信先件数</td>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=sender_total -->/<!-- TMPL_VAR NAME=totalnum -->　</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">差出人</td>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=admin_name --> &lt;<!-- TMPL_VAR NAME=admin_email -->&gt;　</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">絞込</td>
      <td bgcolor="#FFFFFF">
<!-- TMPL_LOOP NAME=search -->
<!-- TMPL_IF NAME=search_text -->
<!-- TMPL_VAR NAME=search_col -->：<!-- TMPL_VAR NAME=search_text --><br>
	<input type="hidden" name="search_text<!-- TMPL_VAR NAME=num -->" value="<!-- TMPL_VAR NAME=search_text -->">
	<input type="hidden" name="search_colname<!-- TMPL_VAR NAME=num -->" value="<!-- TMPL_VAR NAME=search_col -->">
<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
      
      </td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール形式</td>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=disp_mail_type -->
      <input type="hidden" name="mail_type" value="<!-- TMPL_VAR NAME=mail_type -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">件名</td>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=mail_title_html -->
      <input type="hidden" name="mail_title" value="<!-- TMPL_VAR ESCAPE=HTML NAME=mail_title -->"></td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">本文</td>
      <td bgcolor="#FFFFFF">
      <!-- TMPL_VAR NAME=mail_body_html -->
      <input type="hidden" name="mail_body" value="<!-- TMPL_VAR ESCAPE=HTML NAME=mail_body -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">オプション</td>
      <td bgcolor="#FFFFFF"><input type="hidden" name="send_test" value="<!-- TMPL_VAR NAME=send_test -->"><!-- TMPL_VAR NAME=send_test_disp --></td>
    </tr>
	<!-- TMPL_IF NAME=htmlpreview -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">HTMLプレビュー</td>
      <td bgcolor="#FFFFFF"><a href="email_send_previewhtml.cgi" target="blank">プレビュー</a></td>
    </tr>
	<!-- /TMPL_IF -->
    <tr valign="top"> 
      <td colspan="2" bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="送信開始">
			<input type="hidden" name="send_type" value="<!-- TMPL_VAR NAME=send_type -->">
          <br><br>
		  <font color="blue" size="-2">■下記のメールアドレスにマウスを持っていくとプレビューできます■</font>
		  </div></td>
    </tr>
	<tr><td bgcolor="#FFCC66" align="center">
送信先一覧<br>(最大10件表示)
</td><td bgcolor="#FFFFFF">
<!-- TMPL_LOOP NAME=pre_list -->
<p id="tooltip<!-- TMPL_VAR NAME=num -->">
<!-- TMPL_VAR NAME=num -->　<!-- TMPL_VAR NAME=email -->
</p>

<script type="text/javascript">
var tooltip<!-- TMPL_VAR NAME=num --> = new YAHOO.widget.Tooltip("tt<!-- TMPL_VAR NAME=num -->",{
    context:"tooltip<!-- TMPL_VAR NAME=num -->",
    text:'<table><tr><td bgcolor="#FFCC66"><font size="-2">件名</font></td><td><font size="-2"><!-- TMPL_VAR NAME=subject --></font></td></tr><tr><td bgcolor="#FFCC66"><font size="-2">本文</font></td><td><font size="-2"><!-- TMPL_VAR NAME=body --></font></td></tr></table>'
});
</script>
<!-- /TMPL_LOOP -->
</td></tr>
  </table>
</form>

</div>
<div align="center"><a href="javascript:history.back()">戻る</a> </div>


<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
