<!-- TMPL_INCLUDE NAME=html_header.tmpl -->










<BR>
<BR>




<div align="center">
<b>メール送信完了</b>
<br><br>
送信内容・送信状態は<a href="hist_list.cgi">履歴画面</a>よりお確かめください。
<br><br>
<a href="index.cgi">メニューに戻る</a>
<br><br>



</div>








<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
