<!-- TMPL_INCLUDE NAME=html_header.tmpl -->










<div align="center">メールアドレス完全削除<br><br>
  <br>メールアドレスを完全削除しますか？よろしければ完全削除ボタンを押してください。
<form name="form1" method="post" action="email_alldel_ctl.cgi">

            <input type="submit" name="Submit" value="完全削除">

          <br></div>
</form>
</div>
<div align="center"><a href="index.cgi">戻る</a> </div>












<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
