<!-- TMPL_INCLUDE NAME=html_header.tmpl -->










<BR>
<BR>




<div align="center">

<FORM>
<font color="red">エラー</font>
<BR><BR>
<!-- TMPL_VAR NAME=ERRDATA -->
<BR>
<BR>
<INPUT type="button" onClick='history.back();' value="戻る">
</FORM>



</div>








<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
