<!-- TMPL_INCLUDE NAME=html_header.tmpl -->










<div align="center">自動返信メールテンプレート<br><br>

  <br>
<!-- TMPL_IF NAME=oktext -->
<font color="red"><b><!-- TMPL_VAR NAME=oktext --></b></font><br>
<!-- /TMPL_IF -->
<form name="form1" method="post" action="form_edit_ctl.cgi">
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">メールアドレス登録時</td>
      <td bgcolor="#FFFFFF"> 件名：<input type="text" name="form_mailtitle" size="60" value="<!-- TMPL_VAR NAME=form_mailtitle -->"><br>
      <textarea name="form_mailbody" cols="50" rows="10"><!-- TMPL_VAR NAME=form_mailbody_html --></textarea>
      </td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メールアドレス解除時</td>
      <td bgcolor="#FFFFFF"> 件名：<input type="text" name="form2_mailtitle" size="60" value="<!-- TMPL_VAR NAME=form2_mailtitle -->"><br>
      <textarea name="form2_mailbody" cols="50" rows="10"><!-- TMPL_VAR NAME=form2_mailbody_html --></textarea>
      </td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信タイプ</td>
      <td bgcolor="#FFFFFF"><input type="radio" name="type" value="regular" <!-- TMPL_VAR NAME=regular_checked -->>通常&nbsp;<input type="radio" name="type" value="html" <!-- TMPL_VAR NAME=html_checked -->>HTML
      </td>
    </tr>

    <tr valign="top"> 
      <td colspan="2" bgcolor="#FFFFFF"><div align="center"> 
            {EMAIL}：登録されたメールアドレスもしくは解除されたメールアドレス
          <br></div></td>
    </tr>

    <tr valign="top"> 
      <td colspan="2" bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="変更">

          <br></div></td>
    </tr>
  </table>
</form>
</div>
<br><div align="center"><a href="index.cgi">戻る</a> </div><br>













<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
