<!-- TMPL_INCLUDE NAME=html_header.tmpl -->

<div align="center">送信履歴<br><br>

  <br>
  <table border="0" cellspacing="1" cellpadding="5" width="650" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信開始日時</td>
      <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=start_send_date --></td>
	</tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信終了日時</td>
      <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=end_send_date --></td>
	</tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">送信タイプ</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=disp_send_type --></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">メールタイプ</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=disp_mail_type --></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">絞込み</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->">
	  <!-- TMPL_IF NAME=search_colname1 -->
	  <!-- TMPL_VAR NAME=search_colname1 -->：<!-- TMPL_VAR NAME=search_text1 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname2 -->
	  <!-- TMPL_VAR NAME=search_colname2 -->：<!-- TMPL_VAR NAME=search_text2 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname3 -->
	  <!-- TMPL_VAR NAME=search_colname3 -->：<!-- TMPL_VAR NAME=search_text3 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname4 -->
	  <!-- TMPL_VAR NAME=search_colname4 -->：<!-- TMPL_VAR NAME=search_text4 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname5 -->
	  <!-- TMPL_VAR NAME=search_colname5 -->：<!-- TMPL_VAR NAME=search_text5 --><br>
	  <!-- /TMPL_IF -->
	  </td>
    </tr>
	<!-- TMPL_IF NAME=htmlpreview -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">HTMLプレビュー</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><a href="email_send_previewhtml.cgi?mode=hist&id=<!-- TMPL_VAR NAME=id -->" target="blank">プレビュー</a></td>
    </tr>
	<!-- /TMPL_IF -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">件名</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=mail_title --></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">本文</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=mail_body --></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">送信件数</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><!-- TMPL_VAR NAME=total_count --></td>
    </tr>
	<!-- TMPL_IF NAME=email_list -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">送信先</td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->">
	<!-- TMPL_LOOP NAME=email_list -->
	・<!-- TMPL_VAR NAME=email --><br>
	<!-- /TMPL_LOOP -->
	  </td>
    </tr>
	<!-- /TMPL_IF -->
  </table>
</div>
<br><div align="center"><a href="javascript:history.back()">戻る</a> </div><br>


<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
