



<BR>
<BR>
<BR>
<BR>

<!-- TMPL_UNLESS NAME=writing -->
<font size="1" color=#999999>メルマガ配信CGI <a href="http://www.ahref.org/" title="メルマガ配信CGI ACMAILER" target="_blank">ACMAILER</a> Copyright (C) 2008 <a href="http://www.ahref.org/" target="_blank" title="エーエイチレフ">ahref.org</a> All Rights Reserved.
</font>
<!-- /TMPL_UNLESS -->
</BODY>
</HTML>
