<!-- TMPL_INCLUDE NAME=html_header.tmpl -->

<div align="center"><br>
  <br>
  <b>初期設定</b><br>
<font size="-1">※ACMAILER3を使用するには以下の項目の設定を行ってください。<br>入力していただく項目は後で設定を変更できます。
<form name="form1" method="post" action="init_ctl.cgi">
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール差出人名</td><td bgcolor="#FFFFFF"><input type="text" name="admin_name"></td>
	  <td bgcolor="#FFFFFF">←メルマガを発行する際の送信元名になります。</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール差出人メールアドレス</td><td bgcolor="#FFFFFF"><input type="text" name="admin_email"></td>
	  <td bgcolor="#FFFFFF">←メルマガを発行する際のメールアドレスになります。</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">sendmailパス</td><td bgcolor="#FFFFFF"><input type="text" name="sendmail_path" value="<!-- TMPL_VAR NAME=sendmail_path -->"></td>
	  <td bgcolor="#FFFFFF">←お使いのサーバのsendmailパスを入力してください。<br>わからない場合はサーバ管理者にお問い合わせください。</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">ログインID</td><td bgcolor="#FFFFFF"><input type="text" name="login_id"></td>
	  <td bgcolor="#FFFFFF">←ACMAILERにログインするIDになります。</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">ログインPW</td><td bgcolor="#FFFFFF"><input type="password" name="login_pass"></td>
	  <td bgcolor="#FFFFFF">←ACMAILERにログインするパスワードになります。</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">CGI設置URL</td><td bgcolor="#FFFFFF"><input type="text" name="homeurl" value="<!-- TMPL_VAR NAME=form_url -->"></td>
	  <td bgcolor="#FFFFFF">←CGIを設置しているURLです。</td>
    </tr>
  </table>
  
  <input type="submit" value="決定">
</form>
</div>


<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
