<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->


<div align="center">メール配信<br>

<form name="form1" method="post" action="m_email_send_check.cgi">

   
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信先件数&nbsp;<!-- TMPL_VAR NAME=totalnum -->件</td>
	</tr>
	  
    <tr valign="top"> 
      <td bgcolor="#FFCC66">差出人</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=admin_name --> &lt;<!-- TMPL_VAR NAME=admin_email -->&gt;</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">絞込</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF">
<!-- TMPL_LOOP NAME=search --> 
	<select name="search<!-- TMPL_VAR NAME=search_id -->">
	<option value="">---
	<!-- TMPL_LOOP NAME=select -->
	<option value="<!-- TMPL_VAR NAME=col -->"><!-- TMPL_VAR NAME=colname -->
	<!-- /TMPL_LOOP -->
	</select>
	<input type="text" name="search_text<!-- TMPL_VAR NAME=search_id -->" size="10"><br>
<!-- /TMPL_LOOP -->
      
      </td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール形式</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF">
	  <input type="radio" name="mail_type" value="plain" checked>テキスト
	  <input type="radio" name="mail_type" value="html">HTML
	  </td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">件名</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><input type="text" name="mail_title" size="15" value="<!-- TMPL_VAR ESCAPE=HTML NAME=mail_title -->"></td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">本文</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><textarea  name="mail_body" rows="5" cols="60" ><!-- TMPL_VAR NAME=mail_body --></textarea><br></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">変数オプション</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF">
      {EMAIL}：登録されたメールアドレス<br>
	  <!-- TMPL_LOOP NAME=col_list -->
	  {COL<!-- TMPL_VAR NAME=col -->}：<!-- TMPL_VAR NAME=colname --><br>
	  <!-- /TMPL_LOOP -->
	  </font></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">オプション</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><input type="checkbox" name="send_test" value="テスト">配信テスト　<font size="-1">※チェックを入れると差出人宛のみに送信を行います。</font></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="送信確認画面へ">
			<input type="hidden" name="sid" value="<!-- TMPL_VAR NAME=sid -->">
          <br></div></td>
    </tr>
  </table>
</form>

</div>
<div align="center"><a href="m_index.cgi?sid=<!-- TMPL_VAR NAME=sid -->">戻る</a> </div>




<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
