<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->


<div align="center">メール配信<br>
<form name="form1" method="post" action="m_email_send_ctl.cgi">

   
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">送信先件数&nbsp;<!-- TMPL_VAR NAME=sender_total -->/<!-- TMPL_VAR NAME=totalnum --></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">差出人</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=admin_name --> &lt;<!-- TMPL_VAR NAME=admin_email -->&gt;　</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">絞込</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF">
<!-- TMPL_LOOP NAME=search -->
<!-- TMPL_IF NAME=search_text -->
<!-- TMPL_VAR NAME=search_col -->：<!-- TMPL_VAR NAME=search_text --><br>
	<input type="hidden" name="search_text<!-- TMPL_VAR NAME=num -->" value="<!-- TMPL_VAR NAME=search_text -->">
	<input type="hidden" name="search_colname<!-- TMPL_VAR NAME=num -->" value="<!-- TMPL_VAR NAME=search_col -->">
<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
      
      </td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">メール形式</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=disp_mail_type -->
      <input type="hidden" name="mail_type" value="<!-- TMPL_VAR NAME=mail_type -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">件名</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><!-- TMPL_VAR NAME=mail_title_html -->
      <input type="hidden" name="mail_title" value="<!-- TMPL_VAR ESCAPE=HTML NAME=mail_title -->"></td>
    </tr>

    <tr valign="top"> 
      <td bgcolor="#FFCC66">本文</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF">
      <!-- TMPL_VAR NAME=mail_body_html -->
      <input type="hidden" name="mail_body" value="<!-- TMPL_VAR ESCAPE=HTML NAME=mail_body -->"></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66">オプション</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><input type="hidden" name="send_test" value="<!-- TMPL_VAR NAME=send_test -->"><!-- TMPL_VAR NAME=send_test_disp --></td>
    </tr>
	<!-- TMPL_IF NAME=htmlpreview -->
    <tr valign="top"> 
      <td bgcolor="#FFCC66">HTMLプレビュー</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"><a href="m_email_send_previewhtml.cgi?sid=<!-- TMPL_VAR NAME=sid -->" target="blank">プレビュー</a></td>
    </tr>
	<!-- /TMPL_IF -->
    <tr valign="top"> 
      <td bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="送信開始">
			<input type="hidden" name="sid" value="<!-- TMPL_VAR NAME=sid -->">
			<input type="hidden" name="send_type" value="<!-- TMPL_VAR NAME=send_type -->">
          <br>
		  <!-- TMPL_IF NAME=send_type -->
		  ※携帯版ではバックグランド送信になります。
		  <!-- TMPL_ELSE -->
		  ※バックグランド送信が使用できない環境のため、ノーマル送信します。<br>
		  送信件数・サーバ環境によっては正しく全件送信されない可能性があります。<br>
		  確実に送信する場合、PC版ACMAILERより送信を行ってください。
		  <!-- /TMPL_IF -->
		  <br>
		  </div></td>
    </tr>
	<tr><td bgcolor="#FFCC66" align="center">
送信先一覧<br>(最大10件表示)
</td>
</tr><tr>
<td bgcolor="#FFFFFF">
<!-- TMPL_LOOP NAME=pre_list -->
<p id="tooltip<!-- TMPL_VAR NAME=num -->">
<!-- TMPL_VAR NAME=email -->
</p>

<!-- /TMPL_LOOP -->
</td></tr>
  </table>
</form>

</div>
<div align="center"><a href="m_email_send.cgi?sid=<!-- TMPL_VAR NAME=sid -->">戻る</a> </div>


<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
