<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->





<div align="center">メールアドレス一括削除<br><br>
  <br>
<!-- TMPL_IF NAME=oktext -->
<font color="red"><b><!-- TMPL_VAR NAME=oktext --></b></font><br>
<!-- /TMPL_IF -->

		<form name="form1" method="post" action="m_email_del_check.cgi">
<font size="1">
テキスト貼付より一括削除が可能です。
</font>
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">テキスト貼付</td>
	  </tr><tr>
      <td bgcolor="#FFFFFF"> <textarea  name="emailall" rows="3" cols="50" ></textarea><br>
		</td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFFF"><div align="center"> 
            <input type="submit" name="Submit" value="一括削除">
			<input type="hidden" name="sid" value="<!-- TMPL_VAR NAME=sid -->">
          <br></div></td>
    </tr>
  </table>
		</form>
</div><br><br>
<div align="center"><a href="m_index.cgi?sid=<!-- TMPL_VAR NAME=sid -->">戻る</a> </div>










<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
