<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->










<BR>
<BR>




<div align="center">
<b>メール送信完了</b>
<br><br>
送信内容・送信状態は<br><a href="m_hist_list.cgi?sid=<!-- TMPL_VAR NAME=sid -->">履歴画面</a>よりお確かめください。
<br><br>
<a href="m_index.cgi?sid=<!-- TMPL_VAR NAME=sid -->">メニューに戻る</a>
<br><br>


</div>








<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
