<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->

<div align="center">送信履歴


<br>
  <form action="m_hist_list.cgi" method="post">
  <table border="0" cellspacing="1" cellpadding="5" bgcolor="#FF9900">
    <tr> 
      <td bgcolor="#FFCC66" align="center">検索</td>
	</tr>
	<tr>
	<td bgcolor="#FFFFFF" align="center">
	<font size="1">
	<input type="text" name="s_year" value="<!-- TMPL_VAR NAME=s_year -->" size="4">年<input type="text" name="s_mon" value="<!-- TMPL_VAR NAME=s_mon -->" size="2">月<input type="text" name="s_day" value="<!-- TMPL_VAR NAME=s_day -->" size="2">日<br>〜<br><input type="text" name="e_year" value="<!-- TMPL_VAR NAME=e_year -->" size="4">年<input type="text" name="e_mon" value="<!-- TMPL_VAR NAME=e_mon -->" size="2">月<input type="text" name="e_day" value="<!-- TMPL_VAR NAME=e_day -->" size="2">日
	</font></td>
	</tr>
	<tr>
	  <td bgcolor="#FFFFFF" align="center"><input type="submit" value="検索"></td>
	  <input type="hidden" name="dispnum" value="<!-- TMPL_VAR NAME=dispnum -->">
	</tr>
	<input type="hidden" name="sid" value="<!-- TMPL_VAR NAME=sid -->">
   </table>
  </form>
   
  <br>
  <table border="0" cellspacing="1" cellpadding="5" width="650" bgcolor="#FF9900">

    <tr valign="top">
      <td bgcolor="#FFCC66"><font size="1">送信開始日時</font></td>
	  <td bgcolor="#FFCC66"><font size="1">送信数</font></td>
    </tr>
	<tr>
	  <td bgcolor="#FFCC66" colspan="2"><font size="1">件名</font></td>
	</tr>
	<!-- TMPL_LOOP NAME=hist_list -->
	<!-- TMPL_IF NAME=fail -->
    <tr valign="top" bgcolor="#FFCCCC">
	<!-- TMPL_ELSE -->
    <tr valign="top" bgcolor="#FFFFFF">
	<!-- /TMPL_IF -->
      <td><font size="1"><!-- TMPL_VAR NAME=start_send_date --></font></td>
	  <td align="right"><font size="1"><!-- TMPL_VAR NAME=total_count -->通</font></td>
	</tr>
	<!-- TMPL_IF NAME=fail -->
    <tr valign="top" bgcolor="#FFCCCC">
	<!-- TMPL_ELSE -->
    <tr valign="top" bgcolor="#FFFFFF">
	<!-- /TMPL_IF -->
	  <td colspan="2"><font size="1"><a href="m_hist_detail.cgi?id=<!-- TMPL_VAR NAME=id -->&sid=<!-- TMPL_VAR NAME=sid -->"><!-- TMPL_VAR NAME=mail_title --></a></font></td>
    </tr>
	<!-- /TMPL_LOOP -->
<tr><td bgcolor="#FFFFFF" align="center" colspan="2">

<font size="1">
<br>
<!-- TMPL_VAR NAME=pagelink -->｜
<br><br>
<!-- TMPL_IF NAME=backlink -->
<A href="m_hist_list.cgi?page=<!-- TMPL_VAR NAME=page_m1 -->&dispnum=<!-- TMPL_VAR NAME=dispnum --><!-- TMPL_VAR NAME=search_url -->&sid=<!-- TMPL_VAR NAME=sid -->" title="前のページ">＜前のページ</A>
<!-- /TMPL_IF -->
　
<!-- TMPL_IF NAME=nextlink -->
<A href="m_hist_list.cgi?page=<!-- TMPL_VAR NAME=page_p1 -->&dispnum=<!-- TMPL_VAR NAME=dispnum --><!-- TMPL_VAR NAME=search_url -->&sid=<!-- TMPL_VAR NAME=sid -->" title="次のページ">次のページ＞</A>
<!-- /TMPL_IF -->
</font>
<br><br>
</td></tr>

  </table>
<form action="m_hist_list.cgi?<!-- TMPL_VAR NAME=search_url -->" method="get">
<SELECT name="dispnum">
<OPTION value="">表示件数切替</OPTION>
<OPTION value="10" <!-- TMPL_VAR NAME=dispnum10_selected -->>10件</OPTION>
<OPTION value="25" <!-- TMPL_VAR NAME=dispnum25_selected -->>25件</OPTION>
<OPTION value="50" <!-- TMPL_VAR NAME=dispnum50_selected -->>50件</OPTION>
<OPTION value="100" <!-- TMPL_VAR NAME=dispnum100_selected -->>100件</OPTION>
<OPTION value="all" <!-- TMPL_VAR NAME=dispnumall_selected -->>全件</OPTION>
</SELECT>
<input type="hidden" name="sid" value="<!-- TMPL_VAR NAME=sid -->">
<input type="submit" value="表示変更">
</form>
</div>
<br><div align="center"><a href="m_index.cgi?sid=<!-- TMPL_VAR NAME=sid -->">戻る</a> </div><br>


<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
