<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->

<div align="center">送信履歴

  <br>
  <table border="0" cellspacing="1" cellpadding="5" width="650" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66"><font size="1">送信開始<br>日時</font></td>
      <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=start_send_date --></font></td>
	</tr>
    <tr valign="top"> 
      <td bgcolor="#FFCC66"><font size="1">送信終了<br>日時</font></td>
      <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=end_send_date --></font></td>
	</tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">送信<br>タイプ</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=disp_send_type --></font></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">メール<br>タイプ</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=disp_mail_type --></font></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">絞込み</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1">
	  <!-- TMPL_IF NAME=search_colname1 -->
	  <!-- TMPL_VAR NAME=search_colname1 -->：<!-- TMPL_VAR NAME=search_text1 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname2 -->
	  <!-- TMPL_VAR NAME=search_colname2 -->：<!-- TMPL_VAR NAME=search_text2 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname3 -->
	  <!-- TMPL_VAR NAME=search_colname3 -->：<!-- TMPL_VAR NAME=search_text3 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname4 -->
	  <!-- TMPL_VAR NAME=search_colname4 -->：<!-- TMPL_VAR NAME=search_text4 --><br>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME=search_colname5 -->
	  <!-- TMPL_VAR NAME=search_colname5 -->：<!-- TMPL_VAR NAME=search_text5 --><br>
	  <!-- /TMPL_IF -->
	  </font></td>
    </tr>
	<!-- TMPL_IF NAME=htmlpreview -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">HTMLプレビュー</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><a href="m_email_send_previewhtml.cgi?mode=hist&id=<!-- TMPL_VAR NAME=id -->&sid=<!-- TMPL_VAR NAME=sid -->" target="blank">プレビュー</a></font></td>
    </tr>
	<!-- /TMPL_IF -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">件名</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=mail_title --></font></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">本文</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=mail_body --></font></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">送信件数</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1"><!-- TMPL_VAR NAME=total_count --></font></td>
    </tr>
	<!-- TMPL_IF NAME=email_list -->
    <tr valign="top"> 
	  <td bgcolor="#FFCC66"><font size="1">送信先</font></td>
	  <td bgcolor="<!-- TMPL_VAR NAME=bgcolor -->"><font size="1">
	<!-- TMPL_LOOP NAME=email_list -->
	・<!-- TMPL_VAR NAME=email --><br>
	<!-- /TMPL_LOOP -->
	  </font></td>
    </tr>
	<!-- /TMPL_IF -->
	<tr>
	  <td bgcolor="#FFCC66"><font size="1">削除</font></td>
	  <td bgcolor="#FFFFFF"><font size="1"><a href="m_hist_del_check.cgi?id=<!-- TMPL_VAR NAME=id -->&sid=<!-- TMPL_VAR NAME=sid -->">削除</a></font></td>
  </table>
</div>


<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
