<!-- TMPL_INCLUDE NAME=html_mobileheader.tmpl -->



<div align="center"><br>
  <br>
ACMAILER3 ログイン画面
<form name="form1" method="post" action="m_login_ctl.cgi">
  <table border="1" cellspacing="0" cellpadding="5">
    <tr valign="top"> 
      <td>ID</td><td><input type="text" name="login_id" size="16" istyle=3 mode=alphabet></td>
    </tr>
    <tr valign="top"> 
      <td>PW</td><td><input type="password" name="login_pass" size="16" istyle=3 mode=alphabet></td>
    </tr>
  </table>
  <br>
  <input type="submit" value="ログイン">
</form>
</div>



<!-- TMPL_INCLUDE NAME=html_mobilefooter.tmpl -->
