<!-- TMPL_INCLUDE NAME=html_header.tmpl -->

<div align="center">配信テンプレート編集<br><br>

  <br>
  <form action="mailtemplate_edit_ctl.cgi" method="post">
  <table border="0" cellspacing="1" cellpadding="5" width="650" bgcolor="#FF9900">

    <tr valign="top"> 
      <td bgcolor="#FFCC66">テンプレート名</td>
      <td bgcolor="#FFFFFF"><input type="text" name="template_name" value="<!-- TMPL_VAR NAME=template_name -->" size="60"></td>
	</tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">件名</td>
	  <td bgcolor="#FFFFFF"><input type="text" name="mail_title" value="<!-- TMPL_VAR NAME=mail_title -->" size="60"></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">本文</td>
	  <td bgcolor="#FFFFFF"><textarea name="mail_body" cols="50" rows="10"><!-- TMPL_VAR NAME=mail_body --></textarea></td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFCC66">使用可能変数</td>
	  <td bgcolor="#FFFFFF">
	  <!-- TMPL_LOOP NAME=col_list -->
	  ・{COL<!-- TMPL_VAR NAME=col -->}：<!-- TMPL_VAR NAME=colname --><br>
	  <!-- /TMPL_LOOP -->
	  </td>
    </tr>
    <tr valign="top"> 
	  <td bgcolor="#FFFFFF" colspan="2" align="center"><input type="submit" value="更新"></td>
	  <input type="hidden" name="id" value="<!-- TMPL_VAR NAME=id -->">
	  <input type="hidden" name="default" value="<!-- TMPL_VAR NAME=default -->">
    </tr>
  </table>
  </form>
</div>
<br><div align="center"><a href="mailtemplate_list.cgi">戻る</a> </div><br>


<!-- TMPL_INCLUDE NAME=html_footer.tmpl -->
