<TMPL_INCLUDE NAME=header.tmpl>
<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>plugins/CustomFields/styles.css" type="text/css" />
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/core.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/dialog.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/CustomFields/js/date-picker.js"></script>

<script type="text/javascript">
function toggleActive(el) {
	var opt = TC.elementOrId(el);
	if (opt) {
		if (TC.hasClassName(opt, 'active'))
			TC.removeClassName(opt, 'active');
		else
			TC.addClassName(opt, 'active');
	}
}

function capitalizeMe(val) {
        newVal = '';
        val = val.split(' ');
        for(var c=0; c < val.length; c++) {
                newVal += val[c].substring(0,1).toUpperCase() +
val[c].substring(1,val[c].length);
        }
        return newVal.replace(/^\s+/g, '').replace(/\s+$/g, '');
}

function changeName(t) {
	var opt = TC.elementOrId('template-tag');
	var name = TC.elementOrId('name').value;
	var tag = TC.elementOrId('tag').value;
	if(!t) 
		<TMPL_UNLESS NAME=ID>tag = TC.elementOrId('tag').value = '<TMPL_IF NAME=IS_CATEGORY><MT_TRANS phrase="Category"></TMPL_IF><TMPL_IF NAME=IS_ENTRY><MT_TRANS phrase="Entry"></TMPL_IF><TMPL_IF NAME=IS_AUTHOR><MT_TRANS phrase="Author"></TMPL_IF>Data' + capitalizeMe(name);</TMPL_UNLESS>
	var code = TC.elementOrId('code');
	var text = '&lt;<TMPL_IF NAME=IS_ENTRY>MTEntries</TMPL_IF><TMPL_IF NAME=IS_CATEGORY>MTCategories</TMPL_IF><TMPL_IF NAME=IS_AUTHOR>MTAuthors</TMPL_IF>&gt;<br />...<br />&lt;MTIfNonEmpty tag="' + tag + '"&gt;<br />' + name + ': &lt;MT' + tag + '&gt;<br />&lt;/MTIfNonEmpty&gt;<br />...<br />&lt;/<TMPL_IF NAME=IS_ENTRY>MTEntries</TMPL_IF><TMPL_IF NAME=IS_CATEGORY>MTCategories</TMPL_IF><TMPL_IF NAME=IS_AUTHOR>MTAuthors</TMPL_IF>&gt;';
	code.innerHTML = text;
}

function changeType(s) {
	if(!s) s = document.getElementById('type');
	var type = s.options[s.selectedIndex].value;
	if(type == 'select' || type == 'radio'<TMPL_IF NAME=DO_THUMB> || type == 'image_upload'</TMPL_IF>) {
		getByID('options-block').style.display = 'block'; 
/*		getByID('options-block').focus(); */
		if(type == 'image_upload') {
			getByID('image-options').style.display = 'block';
			getByID('list-options').style.display = 'none';
		} else {
			getByID('image-options').style.display = 'none';
			getByID('list-options').style.display = 'block';			
		}
	} else {
		getByID('options-block').style.display = 'none'; 
	}
	
	if(type != 'checkbox' && !type.match('upload')) {
		getByID('default-setting').style.display = 'block';
		var div = getByID('default-field');
		while (div.firstChild) {
		  div.removeChild(div.firstChild);
		}
		if(type == 'text' || type == 'url' || type == 'date') {
			var input = document.createElement('input');
			input.name = 'default';
			input.id = 'default';
			input.value = "<TMPL_VAR NAME=DEFAULT>";
			if(type == 'url' && !input.value) 
				input.value = "http://";
			input.type = 'text';
			input.style.width = '95%';
			div.appendChild(input);
			if(type == 'date') {
				var anchor = document.createElement('a');
				anchor.href = 'javascript:displayDatePicker(\'default\');';
				anchor.innerHTML = '<img src="<TMPL_VAR NAME=STATIC_URI>plugins/CustomFields/images/calendar.gif" title="<MT_TRANS phrase="Show Calendar">" alt="<MT_TRANS phrase="Show Calendar">" />';
				div.appendChild(anchor);
			}
		}
		if(type == 'textarea') {
			var textarea = document.createElement('textarea');
			textarea.name = 'default';
			textarea.id = 'default';
			textarea.value = "<TMPL_VAR NAME=DEFAULT>";
			textarea.cols = 40;
			textarea.rows = 3;
			div.appendChild(textarea);
		}
		if(type == 'select' || type == 'radio') {
			var values = getByID('options').value.split(', ');
			if(type == 'select') {
				var select = document.createElement('select');
				select.name = 'default';
				select.id = 'default';
				for (var i = 0; i < values.length; i++) {
					var option = document.createElement('option');
					option.value = values[i];
					option.innerHTML = values[i];
					if("<TMPL_VAR NAME=DEFAULT>" == values[i])
						option.selected = true;
					select.appendChild(option);
				}
				div.appendChild(select);
			}
			if(type == 'radio') {
				for (var i = 0; i < values.length; i++) {
					var p = document.createElement('p');
					var option = document.createElement('input');
					option.type = 'radio';
					option.name = 'default';
					option.value = values[i];
					if("<TMPL_VAR NAME=DEFAULT>" == values[i])
						option.checked = true;
					p.appendChild(option);
					var label = document.createTextNode(' ' + values[i]);
					p.appendChild(label); 
					div.appendChild(p);
				}
			}
		}
	} else {
		getByID('default-setting').style.display = 'none';
	}
}

function checkRequired(f) {
	var fields = new Array('name', 'type','tag');
	var submit = true;
	for (var i = 0; i < fields.length; i++) {
		var field = document.getElementById(fields[i]);
		if(!field.value) {
			field.style.borderColor = '#FF0000'; 
			submit = false;
			document.getElementById('error-message').style.display = 'block';
		} else 
			field.style.borderColor = ''; 
	}
	if(submit == true) f.submit();
}

var dialog;
var panels;
function dialog_closed(ok) {
    if (ok) {
		TC.elementOrId('buttons').style.display = 'none';
		TC.elementOrId('indicator').style.display = 'block';
        // fill out form and submit to create the association
        var frm = document['customfield'];
		frm.submit();
    } else {
        closeDialog();
    }
}

function init() {
/*    dialog = new Dialog.Simple("customfield");
    dialog.open({}, dialog_closed);*/
	changeType();
	changeName();
}

TC.attachLoadEvent(init);

</script>

<h2><span class="weblog-title-highlight"><TMPL_IF NAME=BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>:</span> <TMPL_IF NAME=IS_ENTRY><MT_TRANS phrase="Entry"></TMPL_IF><TMPL_IF NAME=IS_CATEGORY><MT_TRANS phrase="Category"></TMPL_IF><TMPL_IF NAME=IS_AUTHOR><MT_TRANS phrase="Author"></TMPL_IF> <MT_TRANS phrase="Custom Fields"></h2>

<p class="page-desc"><MT_TRANS phrase="TBD"></p>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your changes have been saved."></div>
</TMPL_IF>

<TMPL_IF NAME=SAVED_DELETED>
<h4 class="message"><MT_TRANS phrase="You have successfully deleted the custom field(s)."></h4>
</TMPL_IF>

<div class="error-message" id="error-message" style="display:none;"><MT_TRANS phrase="Please ensure all required fields (highlighted) have been filled in."></div>

<fieldset>
	<form action="<TMPL_VAR NAME=SCRIPT_URI>" name="customfield" target="_top" onsubmit="checkRequired(this); return false;">
		<input type="hidden" name="__mode" value="save_customfields" id="__mode" />
		<input type="hidden" name="_type" value="customfield" id="_value" />
		<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
		<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
		<input type="hidden" name="datasource" value="<TMPL_VAR NAME=DATASOURCE>" id="datasource" />
		<input type="hidden" name="field_datasource" value="<TMPL_VAR NAME=DATASOURCE>" id="datasource" />
		<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" id="magic_token" />
		<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS>" id="return_args" />
	<div class="setting">
		<div class="label">
	        <label for="name"><MT_TRANS phrase="Name"> (*):</label>
	    </div>
		<div class="field">
			<input type="text" name="name" value="<TMPL_VAR NAME=NAME>" id="name" style="width:95%;" onkeyup="changeName();" />
		</div>
	</div>
	<div class="setting">
		<div class="label">
	        <label for="description"><MT_TRANS phrase="Description">:</label>
	    </div>
		<div class="field">
			<textarea name="description" rows="3" cols="40"><TMPL_VAR NAME=DESCRIPTION></textarea>
		</div>
	</div>
	<div class="setting">
		<div class="label">
	        <label for="type"><MT_TRANS phrase="Type"> (*):</label>
	    </div>
		<div class="field">
			<select name="type" onchange="changeType(this);" id="type">
			<option value="text"<TMPL_IF NAME=TEXT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Single-Line Text"></option>
			<option value="textarea"<TMPL_IF NAME=TEXTAREA> selected="selected"</TMPL_IF>><MT_TRANS phrase="Multi-Line Textfield"></option>
			<option value="checkbox"<TMPL_IF NAME=CHECKBOX> selected="selected"</TMPL_IF>><MT_TRANS phrase="Checkbox"></option>
			<option value="url"<TMPL_IF NAME=URL> selected="selected"</TMPL_IF>><MT_TRANS phrase="URL"></option>
			<option value="date"<TMPL_IF NAME=DATE> selected="selected"</TMPL_IF>><MT_TRANS phrase="Date"></option>
			<option value="select"<TMPL_IF NAME=SELECT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Drop Down Menu"></option>
			<option value="radio"<TMPL_IF NAME=RADIO> selected="selected"</TMPL_IF>><MT_TRANS phrase="Radio Button"></option>
			<TMPL_UNLESS NAME=IS_AUTHOR><option value="file_upload"<TMPL_IF NAME=FILE_UPLOAD> selected="selected"</TMPL_IF>><MT_TRANS phrase="File Upload"></option>	
			<option value="image_upload"<TMPL_IF NAME=IMAGE_UPLOAD> selected="selected"</TMPL_IF>><MT_TRANS phrase="Image Upload"></option></TMPL_UNLESS>	
			</select>
		</div>
	</div>
	<div class="setting" id="options-block" style="display:none;">
		<div class="label">
	        <label for="options"><MT_TRANS phrase="Options"> (*):</label>
	    </div>
		<div class="field">
			<div id="list-options" style="display:none;">
				<input type="text" name="options" value="<TMPL_VAR NAME=OPTIONS>" id="options" style="width:95%;" onkeyup="changeType();" />
				<p><MT_TRANS phrase="Please enter all allowable options for this field as a comma delimited list"></p>
			</div>
			<div id="image-options" style="display:none;">
				
				<p>
				<label for="thumb_width"><MT_TRANS phrase="Width:"></label>
				<input name="thumb_width" id="thumb_width" value="<TMPL_VAR NAME=THUMB_WIDTH>" size="4" />
				<select name="thumb_width_type">
					<option value="pixels"<TMPL_IF NAME=THUMB_WIDTH_TYPE_PIXELS> selected="selected"</TMPL_IF>><MT_TRANS phrase="Pixels"></option>
					<option value="percent"<TMPL_IF NAME=THUMB_WIDTH_TYPE_PERCENT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Percent"></option>
				</select></p>
				
				<p>
				<label for="thumb_height"><MT_TRANS phrase="Height:"></label>
				<input name="thumb_height" value="<TMPL_VAR NAME=THUMB_HEIGHT>" size="4" />
				<select name="thumb_height_type">
					<option value="pixels"<TMPL_IF NAME=THUMB_HEIGHT_TYPE_PIXELS> selected="selected"</TMPL_IF>><MT_TRANS phrase="Pixels"></option>
					<option value="percent"<TMPL_IF NAME=THUMB_HEIGHT_TYPE_PERCENT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Percent"></option>
				</select>
				</p>
				
				<p><MT_TRANS phrase="You can pre-set the width and height of the thumbnail. If one option is left blank, it is automatically calculated based on the other."></p>
			</div>
		</div>
	</div>
	<div class="setting">
		<div class="label">
	        <label for="required"><MT_TRANS phrase="Required?">:</label>
	    </div>
		<div class="field">
			<p><input type="checkbox" name="required" value="1" id="required"<TMPL_IF NAME=REQUIRED> checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Should a value be chosen or entered into this field?"></p>
		</div>
	</div>
	<div class="setting" id="default-setting" style="display:none;">
		<div class="label">
	        <label for="default"><MT_TRANS phrase="Default">:</label>
	    </div>
		<div class="field" id="default-field">
			
		</div>
	</div>
	<div class="setting" id="template-tag">
		<div class="label">
	        <label for="tag"><MT_TRANS phrase="Template Tag"> (*):</label>
	    </div>
		<div class="field">
			<input type="text" name="tag" value="<TMPL_VAR NAME=TAG>" id="tag" style="width:95%;" onkeyup="changeName(1);" />
			<p><MT_TRANS phrase="Create a custom template tag for this field. Do <b>not</b> enter the MT prefix"></p>
			<br />
			<div class="spinner">
			<p><a href="#bottom" onclick="toggleActive('template-tag'); "><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="" width="7" height="7" /></a> <a href="#bottom" onclick="toggleActive('template-tag');"><MT_TRANS phrase="Example Code"></a>
			</p>
			</div>
			<div class="flyout">
				<pre id="code"></pre>
			</div>
		</div>
	</div>
	<div align="center" id="indicator" style="display:none;"> <img src="<TMPL_VAR NAME=STATIC_URI>images/indicator.white.gif" /></div>
	<div id="buttons">
 <input type="submit" class="save" value="<MT_TRANS phrase="Save">" accesskey="s" />
	</div>
	</form>
</fieldset>
<TMPL_INCLUDE NAME=footer.tmpl>
