<!-- start-customfield_beacon -->
<input type="hidden" name="customfield_beacon" value="1" id="customfield_beacon" />
<script type="text/javascript">
<!--
	function fill_upload_field(id, url, html) {
		document.getElementById('customfield_' + id).value = url;
		var preview = document.getElementById('preview_' + id);
		if (!preview) return;
		preview.innerHTML = html;
		var img = preview.getElementsByTagName('img')[0];
		if(img.width > 200) {
			var pct = 200 / img.width; 
			img.width = 200;
			img.height = Math.floor(pct * img.height);
			
		}
	}
//-->
</script>
<!-- end-customfield_beacon -->

<TMPL_LOOP NAME=FIELD_LOOP>
<!-- start-customfield_<TMPL_VAR NAME=ID> -->
<TMPL_IF NAME=REQUIRED><input type="hidden" name="customfield_<TMPL_VAR NAME=ID>_required" value="<TMPL_VAR NAME=REQUIRED>" id="customfield_<TMPL_VAR NAME=ID>_required" /></TMPL_IF>
<TMPL_IF NAME=IS_TEXTAREA>

<div class="field"<TMPL_UNLESS NAME=SHOW_FIELD> style="display:none;"</TMPL_UNLESS>>
<div class="field-header">
<label for="customfield_<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></label>
<TMPL_IF NAME=DESCRIPTION><a href="#" onmouseover="showCustomFieldDescription('<TMPL_VAR NAME=DESCRIPTION ESCAPE=HTML>');" onmouseout="hideCustomFieldDescription();" class="help">?</a></TMPL_IF>
</div>
<div class="field-wrapper">
<div class="field-buttons">
<div class="field-buttons-formatting">
<script type="text/javascript">
if (canFormat) {
    with (document) {
        write('<img title="<MT_TRANS phrase="Bold">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'strong\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/bold.gif" alt="<MT_TRANS phrase="Bold">" width="26" height="19" />');
        write('<img title="<MT_TRANS phrase="Italic">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'em\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/italic.gif" alt="<MT_TRANS phrase="Italic">" width="26" height="19" />');
        write('<img title="<MT_TRANS phrase="Underline">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'u\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/underline.gif" alt="<MT_TRANS phrase="Underline">" width="26" height="19" />');
        write('<img title="<MT_TRANS phrase="Insert Link">" onclick="return insertLink(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'))" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/link.gif" alt="<MT_TRANS phrase="Insert Link">" width="26" height="19" />');
        write('<img title="<MT_TRANS phrase="Insert Email Link">" onclick="return insertLink(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), 1)" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/email.gif" alt="<MT_TRANS phrase="Insert Email Link">" width="26" height="19" />');
        write('<img title="<MT_TRANS phrase="Quote">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'blockquote\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/quote.gif" alt="<MT_TRANS phrase="Quote">" width="26" height="19" />');
		write('<img title="<MT_TRANS phrase="List">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'li\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/li.gif" alt="<MT_TRANS phrase="List">" width="26" height="19" />');
		write('<img title="<MT_TRANS phrase="Sup">" onclick="return formatStr(document.getElementById(\'customfield_<TMPL_VAR NAME=ID>\'), \'sup\')" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/sup.gif" alt="<MT_TRANS phrase="Sup">" width="26" height="19" />');
    }
}
</script>
</div>
<div class="field-buttons-resizing">
<script type="text/javascript">
with (document) {
    write('<img title="<MT_TRANS phrase="Bigger">" onclick="return expandEditor( \'customfield_<TMPL_VAR NAME=ID>\', \'expand\' );" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/field-bigger.gif" alt="<MT_TRANS phrase="Bigger">" width="26" height="19" /></a>');
    write('<img title="<MT_TRANS phrase="Smaller">" onclick="return expandEditor( \'customfield_<TMPL_VAR NAME=ID>\', \'contract\' );" src="<TMPL_VAR NAME=STATIC_URI>images/formatting-icons/field-smaller.gif" alt="<MT_TRANS phrase="Smaller">" width="26" height="19" /></a>');
}
</script>
</div>
</div>
<div class="textarea-wrapper">
<textarea onkeypress="mtShortCuts(event)" name="customfield_<TMPL_VAR NAME=ID>" id="customfield_<TMPL_VAR NAME=ID>" cols="72" rows="15" style="width: 571px; height: <TMPL_IF NAME=DISP_PREFS_HEIGHT_EXTENDED><TMPL_VAR NAME=DISP_PREFS_HEIGHT_EXTENDED><TMPL_ELSE>162</TMPL_IF>px" onchange="setDirty()"><TMPL_VAR NAME=VALUE ESCAPE=HTML></textarea>
</div>
<input type="hidden" name="customfield_<TMPL_VAR NAME=ID>_height" id="customfield_<TMPL_VAR NAME=ID>_height" value="<TMPL_IF NAME=DISP_PREFS_HEIGHT_EXTENDED><TMPL_VAR NAME=DISP_PREFS_HEIGHT_EXTENDED><TMPL_ELSE>162</TMPL_IF>" />
</div>
</div>

<TMPL_ELSE>

<div class="field"<TMPL_UNLESS NAME=SHOW_FIELD> style="display:none;"</TMPL_UNLESS>>
<div class="field-header">
<label for="customfield_<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME> <TMPL_IF NAME=IS_UPLOAD><MT_TRANS phrase="URL"></TMPL_IF></label>
<TMPL_IF NAME=DESCRIPTION><a href="javascript:void(0);" onmouseover="showCustomFieldDescription('<TMPL_VAR NAME=DESCRIPTION ESCAPE=JS>');" onmouseout="hideCustomFieldDescription();" class="help">?</a></TMPL_IF> 
</div>

<TMPL_IF NAME=IS_TEXT>
<div class="textarea-wrapper">
<input type="text" name="customfield_<TMPL_VAR NAME=ID>" id="customfield_<TMPL_VAR NAME=ID>" value="<TMPL_VAR NAME=VALUE ESCAPE=HTML>" onchange="setDirty()" style="width: 591px;" />
</div>
<TMPL_IF NAME=IS_DATE>
<a href="javascript:void(0);" onclick="displayDatePicker('customfield_<TMPL_VAR NAME=ID>');"><img src="<TMPL_VAR NAME=STATIC_URI>plugins/CustomFields/images/calendar.gif" title="<MT_TRANS phrase="Show Calendar">" alt="<MT_TRANS phrase="Show Calendar">" /></a>
</TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME=IS_SELECT>

<select name="customfield_<TMPL_VAR NAME=ID>" id="customfield_<TMPL_VAR NAME=ID>" onchange="setDirty()">
	<TMPL_LOOP NAME=OPTION_LOOP>
		<option value="<TMPL_VAR NAME=OPTION>"<TMPL_IF NAME=IS_SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=OPTION></option>
	</TMPL_LOOP>
</select>

</TMPL_IF>

<TMPL_IF NAME=IS_RADIO>
<div class="field-wrapper">
	<TMPL_LOOP NAME=OPTION_LOOP>
		<label><input type="radio" name="customfield_<TMPL_VAR NAME=ID>" value="<TMPL_VAR NAME=OPTION>" id="customfield_<TMPL_VAR NAME=ID>"<TMPL_IF NAME=IS_SELECTED> checked="checked"</TMPL_IF>  /> <TMPL_VAR NAME=OPTION></label>
	</TMPL_LOOP>	
</div>
</TMPL_IF>

<TMPL_IF NAME=IS_CHECKBOX>
<p><input type="checkbox" name="customfield_<TMPL_VAR NAME=ID>" value="1" id="customfield_<TMPL_VAR NAME=ID>"<TMPL_IF NAME=VALUE> checked="checked"</TMPL_IF> /> <TMPL_VAR NAME=DESCRIPTION></p>
</TMPL_IF>

<TMPL_IF NAME=IS_UPLOAD>
<div>
	<TMPL_IF NAME=IS_IMAGE_UPLOAD>
	<div id="preview_<TMPL_VAR NAME=ID>" style="float:right;">
		<TMPL_IF NAME=VALUE>
		<img src="<TMPL_VAR NAME=VALUE>">
		</TMPL_IF>
	</div>
	</TMPL_IF>
	<div style="width:<TMPL_IF NAME=IS_IMAGE_UPLOAD>50<TMPL_ELSE>100</TMPL_IF>%;">
	<p><input type="text" name="customfield_<TMPL_VAR NAME=ID>" value="<TMPL_VAR NAME=VALUE ESCAPE=HTML>" id="customfield_<TMPL_VAR NAME=ID>" style="width:100%;" /></p>
	
	<p><input type="button" name="upload_<TMPL_VAR NAME=ID>" id="upload_<TMPL_VAR NAME=ID>" value="<TMPL_IF NAME=VALUE><MT_TRANS phrase="Upload New [_1]" params="<TMPL_VAR NAME=NAME>"><TMPL_ELSE><MT_TRANS phrase="Upload [_1]" params="<TMPL_VAR NAME=NAME>"></TMPL_IF>" id="upload_<TMPL_VAR NAME=ID>" onclick="window.open('<TMPL_VAR NAME=MT_URL>?__mode=start_upload&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;field_id=<TMPL_VAR NAME=ID>', 'upload', 'width=400,height=450,resizable=yes,scrollbars=yes')" /></p>
	</div>
	<br clear="all" />
</div>
</TMPL_IF>

</div>

</TMPL_IF>
<!-- end-customfield_<TMPL_VAR NAME=ID> -->
</TMPL_LOOP>