<div class="flt-wrppr">

<div id="display-options">
<a href="#" onclick="return toggleDisplayOptions()"><MT_TRANS phrase="Re-order Fields"></a>

<div class="display-options-popup" style="position:relative;">
<div class="display-options-inner" style="background-color:#E6ECF2; border-color:#E6ECF2;">
<form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="save_customfields" />
<input type="hidden" name="_type" value="entry_field_order" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="order" value="" id="order" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<h2 style="background-color:#8FAEBE;color:#FFF;"><MT_TRANS phrase="Re-Order Fields"></h2>
<div id="display-options-container">
<div class="dbx-group" id="reorder-container">
<!-- start-reorder-panel -->
<!-- start-drop-panels -->

<!-- end-drop-panels -->
	<!-- start-handle-body --><p class="dbx-box" id="body"><span class="dbx-handle"><MT_TRANS phrase="Entry Body"></span></p><!-- end-handle-body -->
	<TMPL_IF NAME=DISP_PREFS_SHOW_EXTENDED><!-- start-handle-more --><p class="dbx-box" id="more"><span class="dbx-handle"><MT_TRANS phrase="Extended Entry"></span></p><!-- end-handle-more --></TMPL_IF>	
	<TMPL_IF NAME=DISP_PREFS_SHOW_EXCERPT><!-- start-handle-excerpt --><p class="dbx-box" id="excerpt"><span class="dbx-handle"><MT_TRANS phrase="Excerpt"></span></p><!-- end-handle-excerpt --></TMPL_IF>	
	<TMPL_IF NAME=DISP_PREFS_SHOW_KEYWORDS><!-- start-handle-keywords --><p class="dbx-box" id="keywords"><span class="dbx-handle"><MT_TRANS phrase="Keywords"></span></p><!-- end-handle-keywords --></TMPL_IF>
	<TMPL_IF NAME=DISP_PREFS_SHOW_TAGS><!-- start-handle-tags --><p class="dbx-box" id="tags"><span class="dbx-handle"><MT_TRANS phrase="Tags"></span></p><!-- end-handle-tags --></TMPL_IF>
		<TMPL_LOOP NAME=FIELD_LOOP>
			<!-- start-handle-customfield_<TMPL_VAR NAME=ID> --><p class="dbx-box" id="customfield_<TMPL_VAR NAME=ID>"<TMPL_UNLESS NAME=SHOW_FIELD> style="visibility:hidden;"</TMPL_UNLESS>><span class="dbx-handle"><TMPL_VAR NAME=NAME></span></p><!-- end-handle-customfield_<TMPL_VAR NAME=ID> -->
		</TMPL_LOOP>
<!-- end-reorder-panel -->		
</div>
<div class="buttons">
<input type="submit" name="save" value="<MT_TRANS phrase="Save">" onclick="changeOrder(this.form);" />
<input type="button" value="<MT_TRANS phrase="Cancel">" onclick="toggleDisplayOptions()" />
</div>

</div>
</form>
</div>
</div>
</div>
</div>

<script>
//initialisation function
window.onload = function()
{
	//initialise the docking boxes manager 
	var manager = new dbxManager('entry'); 	//session ID [/-_a-zA-Z0-9/]


	//create new docking boxes group
	var reorder = new dbxGroup(
		'reorder-container',       // container ID [/-_a-zA-Z0-9/] 
		'vertical',     // orientation ['vertical'|'horizontal']
		'5',            // drag threshold ['n' pixels]
		'no',           // restrict drag movement to container axis ['yes'|'no']
		'3',           // animate re-ordering ['n' frames per transition]
		'no',          // include open/close toggle buttons ['yes'|'no']
		'open',         // default state ['open'|'closed']

		'open',         // word for "open", as in "open this box"
		'close',        // word for "close", as in "close this box"
		'click-down and drag to move this field', // sentence for "move this box" by mouse
		'click to %toggle% this box', // pattern-match sentence for "(open|close) this box" by mouse
		'use the arrow keys to move this box', // sentence for "move this box" by keyboard
		', or press the enter key to %toggle% it', // pattern-match sentence-fragment for "(open|close) this box" by keyboard
		'%mytitle%  [%dbxtitle%]' // pattern-match syntax for title-attribute conflicts
		);

};
</script>