    <p>
        <center><font size="-1">
			<a href="http://www.as-tetra.info/mobile/index.cgi?mode=individual&eid=2">½Íß°½ÚİÀÙ</a> / <a href="http://www.as-tetra.info/mobile/index.cgi?mode=individual&eid=3">about</a><br>
          <a href="http://www.navitime.co.jp/map/?datum=1&unit=0&lat=+33.35.33.632&lon=+130.24.22.318&back=pc"> •Ÿ‰ªs”‘½‹æ{è’¬2-15</a><br>
		  <a href="tel:092-262-6560">092-262-6560</a><br><a href="mailto:info@as-tetra.info">info@as-tetra.info</a>
		</font></center>
    </p>
</body>
</html>

