<TMPL_INCLUDE NAME="header.tmpl">

    <h4>
        <TMPL_VAR NAME="ENTRY_TITLE"><br>
	</h4>
    <hr>

    <TMPL_IF NAME="PAGE_NAVI">
        <p>< Íß°¼ŞˆÚ“®:<TMPL_LOOP NAME="PAGE_NAVI"> <TMPL_IF NAME="PAGE_NAVI_URL"><a href="<TMPL_VAR NAME="PAGE_NAVI_URL">"></TMPL_IF><TMPL_VAR NAME="PAGE_NAVI_NO"><TMPL_IF NAME="PAGE_NAVI_URL"></a></TMPL_IF></TMPL_LOOP> ></p>
    </TMPL_IF>

    <TMPL_VAR NAME="ENTRY_TEXT">

    <TMPL_IF NAME="PAGE_NAVI">
        <p>< Íß°¼ŞˆÚ“®:<TMPL_LOOP NAME="PAGE_NAVI"> <TMPL_IF NAME="PAGE_NAVI_URL"><a href="<TMPL_VAR NAME="PAGE_NAVI_URL">"></TMPL_IF><TMPL_VAR NAME="PAGE_NAVI_NO"><TMPL_IF NAME="PAGE_NAVI_URL"></a></TMPL_IF></TMPL_LOOP> ></p>
    </TMPL_IF>

    <TMPL_IF NAME="DISP_COMMENT">
    <TMPL_IF NAME="COMMENT_COUNT">
<hr>
    <TMPL_VAR NAME="ICON_NO_8"><a href="<TMPL_VAR NAME="COMMENT_URL">"<TMPL_VAR NAME="ACCESS_KEY_8">>ºÒİÄ(<TMPL_VAR NAME="COMMENT_COUNT">)</a>
    <TMPL_ELSE>
    <TMPL_IF NAME="POST_COMMENT">
<hr>
    <TMPL_VAR NAME="ICON_NO_8"><a href="<TMPL_VAR NAME="COMMENT_URL">"<TMPL_VAR NAME="ACCESS_KEY_8">>ºÒİÄ“Še</a>
    </TMPL_IF>
    </TMPL_IF>
    </TMPL_IF>
    <TMPL_IF NAME="TRACKBACK">
<hr>
    <TMPL_VAR NAME="ICON_NO_5"><a href="<TMPL_VAR NAME="TBPING_URL">"<TMPL_VAR NAME="ACCESS_KEY_5">>Ä×¯¸ÊŞ¯¸(<TMPL_VAR NAME="TBPING_COUNT">)</a>
    </TMPL_IF>
<hr>
	<center>
    <TMPL_IF NAME="ADMIN_MODE">
    <TMPL_VAR NAME="ADMIN_MENU">
    </TMPL_IF>
    <TMPL_IF NAME="PREV">
    <TMPL_VAR NAME="ICON_NO_7"><a href="<TMPL_VAR NAME="PREV_URL">"<TMPL_VAR NAME="ACCESS_KEY_7">>&lt; ‘O</a> | 
    </TMPL_IF>
	 <TMPL_VAR NAME="ICON_NO_0"><a href="<TMPL_VAR NAME="TOP_URL">"<TMPL_VAR NAME="ACCESS_KEY_0">>TOP</a> | 
    <TMPL_IF NAME="NEXT">
    <TMPL_VAR NAME="ICON_NO_9"><a href="<TMPL_VAR NAME="NEXT_URL">"<TMPL_VAR NAME="ACCESS_KEY_9">>Ÿ &gt;</a><br>
    </TMPL_IF>
	</center>

<TMPL_INCLUDE NAME="footer.tmpl">
