{#
  サイトフッター
  コピーライト表示
#}
<div id="footer">
  {% block footer %}
  <div id="footer" class="sns">
	<div class="alignleft"><img src="/images/cl.gif"> 2004-2026 art space tetra</div>
	<div class="alignright">
        {% include "components/nav-footer-sns.njk" %}
        <a id="to_top" href="#" style=""><i class="far fa-arrow-alt-circle-up" aria-hidden="true"></i></a>
    </div>
</div>
  {% endblock %}
</div>
