{#
  サイトフッター
  コピーライト表示
#}
<div id="footer">
  {% block footer %}
  <div id="footer" class="sns">
	<div class="alignleft"><img src="http://www.as-tetra.info/images/cl.gif"> 2004-2026 art space tetra</div>
	<div class="alignright">
        <nav id="footer_nav_sns">
            <ul class="ver3">
                <li>
                    <a href="https://www.facebook.com/artspacetetra">
                        <img class="sns_logo" src="http://www.as-tetra.info/images/f_logo_RGB-Blue_100.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="https://x.com/artspacetetra">
                        <img class="sns_logo" src="http://www.as-tetra.info/images/x-logo-black.png" alt="x">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artspacetetra/">
                        <img class="sns_logo" src="http://www.as-tetra.info/images/Instagram_AppIcon_Aug2017.png" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCS2N63ntjPZ4Pdg507e8YfA">
                        <img class="sns_logo" src="http://www.as-tetra.info/images/youtube_social_circle_red.png" alt="youtube">
                    </a>
                </li>
                <li>
                    <a href="http://www.as-tetra.info/archives/2004/040101050000.html">
                        <img class="sns_logo" src="http://www.as-tetra.info/images/dest128blue.png" alt="access">
                    </a>
                </li>
            </ul>
        </nav>
        <a id="to_top" href="#" style=""><i class="far fa-arrow-alt-circle-up" aria-hidden="true"></i></a>
    </div>
</div>
  {% endblock %}
</div>
