{#
  サイトヘッダー
  ロゴ、最終更新日、言語切替を含む
#}
<div id="header">
  <a href="{{ '/' | url }}"><img src="{{ '/images/tetra_logo09w.png' | url }}" alt="art space tetra" class="head_logo"></a>
  <span class="alignright">
    <p>{% if lastUpdate %}last update : {{ lastUpdate }}{% endif %}</p>
    <p>
      <a href="#" onmousedown="$.fn.StyleSwichter({cssPath: '{{ '/css/tetra_en.css' | url }}'}); this.blur(); return false;" onmouseup="$('.main').masonry();">english</a> /
      <a href="#" onmousedown="$.fn.StyleSwichter({cssPath: '{{ '/css/tetra_jp.css' | url }}'}); this.blur(); return false;" onmouseup="$('.main').masonry();" class="min90">日本語</a>
    </p>
  </span>
  <div class="clear"></div>
