{#
  SNSナビゲーション
  Facebook, X, Instagram, YouTube, アクセスへのリンク
#}
  <p id="menu_button"><i class="fas fa-chevron-circle-down"></i><i class="far fa-times-circle"></i></p>
  <div id="nav_wrap">
    <nav id="nav_sns">
      <ul class="ver1">
        <li><a href="https://www.facebook.com/artspacetetra"><img class="sns_logo" src="{{ '/images/f_logo_RGB-Blue_100.png' | url }}" alt="facebook"></a></li>
        <li><a href="https://x.com/artspacetetra"><img class="sns_logo" src="{{ '/images/x-logo-black.png' | url }}" alt="x"></a></li>
        <li><a href="https://www.instagram.com/artspacetetra/"><img class="sns_logo" src="{{ '/images/Instagram_AppIcon_Aug2017.png' | url }}" alt="instagram"></a></li>
        <li><a href="https://www.youtube.com/channel/UCS2N63ntjPZ4Pdg507e8YfA"><img class="sns_logo" src="{{ '/images/youtube_social_circle_red.png' | url }}" alt="youtube"></a></li>
        <li><a href="{{ '/archives/2004/040101050000.html' | url }}"><img class="sns_logo" src="{{ '/images/dest128blue.png' | url }}" alt="access"></a></li>
      </ul>
    </nav>
  </div>
  <div class="clear"></div>
