body{
	font-family: "Helvetica", "Geneva", "Arial", "sans-serif";
}
table{
	line-height: 1.1em;
}
p{
	background-color:#FAF3E8;
	padding: 5px;
}
a {
	text-decoration:none;
	color:#3650CB;
}
a:hover {
	text-decoration: underline;
}
img {
	border: none;
}

body,table {
	font-size: 10pt;
}
font.title{
	font-size: 11px;
}
.waku{
	background-color: #5D5D5D;
	padding: 10px;
	border: 1px solid #393939;
	display: block;
	width: 90%;
	margin: 0px 0px 10px 0px;
}
.top, .footer{
	padding: 5px 10px;
	display: block;
	width: 90%;
}
.bar{
	background-color: #E2E2E2;
	background-repeat: repeat-x;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	border: 1px outset #999999;
}
.tetra{
	letter-spacing: 0.1em;
}
.dt{
	color: #000099;
	width: 100%;
	border: 1px dotted #666666;
	padding: 0px 3px;
}
.ds{
	font-size: 12px;
	width: 100%;
	width: 100%;
	border: 1px dotted #666666;
	padding: 0px 3px;
}
input, textarea{
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
.ttx{
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #9FAFC8;
	display: block;
	padding: 0px 3px;
}