<!DOCTYPE html>
<html lang="{{ lang | default('ja') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description | default('art space tetra is an alternative space in Japan, since 2004.') }}">
  <meta name="keywords" content="{{ keywords | default('contemporary art, experimental music, improvised music, alternative space, artist in residence') }}">
  <title>{% if title %}{{ title }} | {% endif %}art space tetra</title>

  {# CSS #}
  <link rel="stylesheet" href="/css/tetra_base.css">
  <link rel="stylesheet" title="styleswichter" href="/css/tetra_jp.css">

  {# JavaScript #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/jquery.masonry.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/jquery.styleswichter.js"></script>
  <script src="/js/property.js"></script>
  <script src="https://kit.fontawesome.com/4b70a1e8fd.js" crossorigin="anonymous"></script>

  {# Additional head content #}
  {% block head %}{% endblock %}
</head>
<body class="responsive">

{# Header #}
<div id="header">
  <a href="/"><img src="/images/tetra_logo09w.png" alt="art space tetra" class="head_logo"></a>
  <span class="alignright">
    <p>{% if lastUpdate %}last update : {{ lastUpdate }}{% endif %}</p>
    <p>
      <a href="#" onmousedown="$.fn.StyleSwichter({cssPath: '/css/tetra_en.css'}); this.blur(); return false;" onmouseup="$('.main').masonry();">english</a> /
      <a href="#" onmousedown="$.fn.StyleSwichter({cssPath: '/css/tetra_jp.css'}); this.blur(); return false;" onmouseup="$('.main').masonry();" class="min90">日本語</a>
    </p>
  </span>
  <div class="clear"></div>

  <p id="menu_button"><i class="fas fa-chevron-circle-down"></i><i class="far fa-times-circle"></i></p>
  <div id="nav_wrap">
    <nav id="nav_sns">
      <ul class="ver1">
        <li><a href="https://www.facebook.com/artspacetetra"><img class="sns_logo" src="/images/f_logo_RGB-Blue_100.png" alt="facebook"></a></li>
        <li><a href="https://x.com/artspacetetra"><img class="sns_logo" src="/images/x-logo-black.png" alt="x"></a></li>
        <li><a href="https://www.instagram.com/artspacetetra/"><img class="sns_logo" src="/images/Instagram_AppIcon_Aug2017.png" alt="instagram"></a></li>
        <li><a href="https://www.youtube.com/channel/UCS2N63ntjPZ4Pdg507e8YfA"><img class="sns_logo" src="/images/youtube_social_circle_red.png" alt="youtube"></a></li>
        <li><a href="/archives/2004/040101050000.html"><img class="sns_logo" src="/images/dest128blue.png" alt="access"></a></li>
      </ul>
    </nav>
  </div>
  <div class="clear"></div>
</div>
{# End Header #}

{# Container #}
<div id="container">
  {# Main Content #}
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</div>
{# End Container #}

{# Footer #}
<div id="footer">
  {% block footer %}
  <p>&copy; art space tetra</p>
  {% endblock %}
</div>
{# End Footer #}

{# Additional scripts #}
{% block scripts %}{% endblock %}

</body>
</html>
