<!DOCTYPE html>
<html lang="{{ lang | default('ja') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description | default('art space tetra is an alternative space in Japan, since 2004.') }}">
  <meta name="keywords" content="{{ keywords | default('contemporary art, experimental music, improvised music, alternative space, artist in residence') }}">
  <title>{% if title %}{{ title }} | {% endif %}art space tetra</title>

  {# CSS #}
  <link rel="stylesheet" href="{{ '/css/tetra_base.css' | url }}">
  <link rel="stylesheet" title="styleswichter" href="{{ '/css/tetra_jp.css' | url }}">

  {# JavaScript #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ '/js/jquery.masonry.js' | url }}"></script>
  <script src="{{ '/js/jquery.cookie.js' | url }}"></script>
  <script src="{{ '/js/jquery.styleswichter.js' | url }}"></script>
  <script src="{{ '/js/property.js' | url }}"></script>
  <script src="https://kit.fontawesome.com/4b70a1e8fd.js" crossorigin="anonymous"></script>

  {# Additional head content #}
  {% block head %}{% endblock %}
</head>
<body class="responsive">

{# Header #}
{% include "components/header.njk" %}
{% include "components/nav-sns.njk" %}
</div>
{# End Header #}

{# Container #}
<div id="container">
  {# Main Content #}
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</div>
{# End Container #}

{# Footer #}
{% include "components/footer.njk" %}
{# End Footer #}

{# Additional scripts #}
{% block scripts %}{% endblock %}

</body>
</html>
