
<script type="text/javascript">
<!--

var multiBlogRebuilds = new Array();
<TMPL_LOOP NAME=REBUILDS_LOOP>
multiBlogRebuilds[multiBlogRebuilds.length] = new Array ("<TMPL_VAR NAME=ACTION_NAME ESCAPE=HTML>", "<TMPL_VAR NAME=ACTION_VALUE>", "<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>", "<TMPL_VAR NAME=BLOG_ID>", "<TMPL_VAR NAME=TRIGGER_NAME>", "<TMPL_VAR NAME=TRIGGER_VALUE>");
</TMPL_LOOP>

function rebuildMultiBlogTriggerTable() {
  document.getElementById('multiblog_blog_list').innerHTML = "";
  document.getElementById('rebuild_triggers').value = "";
  if (multiBlogRebuilds.length > 0) {
    var str = "<table><tr><th>Action</th><th>Blog</th><th>Trigger</th></tr>\n";
    var values = new Array();
    for (i = 0; i < multiBlogRebuilds.length; i++) {
      str += "<tr>";
      str += "<td>" + multiBlogRebuilds[i][0] + "</td>";
      str += "<td> when <i>" + multiBlogRebuilds[i][2] + "</i></td><td>" + multiBlogRebuilds[i][4] + "</td>";
      str += "<td><input type='button' value='Remove' onclick='removeMultiBlogTrigger(" + i + ")' /></td>";
      str += "</tr>\n";
      values[i] = multiBlogRebuilds[i][1];
      values[i] += ":";
      values[i] += multiBlogRebuilds[i][3];
      values[i] += ":";
      values[i] += multiBlogRebuilds[i][5];
    }
    str += "</table>";
    document.getElementById('multiblog_blog_list').innerHTML = str;
    document.getElementById('rebuild_triggers').value = values.join('|');
  }
}

function removeMultiBlogTrigger(index) {
  multiBlogRebuilds.splice (index, 1);
  rebuildMultiBlogTriggerTable();
}
  

function updateMultiBlogBlogList() {
  var action = document.getElementById('multiblog_blog_action').options[document.getElementById('multiblog_blog_action').selectedIndex];
  var blog = document.getElementById('multiblog_blog_id').options[document.getElementById('multiblog_blog_id').selectedIndex];
  var trigger = document.getElementById('multiblog_blog_trigger').options[document.getElementById('multiblog_blog_trigger').selectedIndex];
  multiBlogRebuilds[multiBlogRebuilds.length] = new Array(action.text, action.value, blog.text, blog.value, trigger.text, trigger.value);
  rebuildMultiBlogTriggerTable();
}

// -->
</script>

<div id="multiblog_blog_list" class="list">
</div>

<input type="hidden" name="rebuild_triggers" id="rebuild_triggers" value="<TMPL_VAR NAME=REBUILD_TRIGGERS>" />
<input type="hidden" name="old_rebuild_triggers" id="old_rebuild_triggers" value="<TMPL_VAR NAME=REBUILD_TRIGGERS>" />

   <p>When <select name="multiblog_blog_id" id="multiblog_blog_id">
   <TMPL_LOOP NAME=MULTIBLOG_BLOG_LOOP>
   <option value="<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME></option>
   </TMPL_LOOP>
   </select>
   <select name="multiblog_blog_trigger" id="multiblog_blog_trigger">
       <TMPL_LOOP NAME=MULTIBLOG_TRIGGER_LOOP>
       <option value="<TMPL_VAR NAME=TRIGGER_KEY>"><TMPL_VAR NAME=TRIGGER_NAME></option>
       </TMPL_LOOP>
       </select>
   <select name="multiblog_blog_action" id="multiblog_blog_action">
   <TMPL_LOOP NAME=MULTIBLOG_ACTION_LOOP>
   <option value="<TMPL_VAR NAME=ACTION_ID>"><TMPL_VAR NAME=ACTION_NAME></option>
   </TMPL_LOOP>
   </select>
<p><input type="button" onclick="updateMultiBlogBlogList()" value="Add Trigger" /></p>

<fieldset>
<div class="setting">
  <div class="label">
    <label for="default_includes">Default Blog IDs to Include:</label>
  </div>
  <div class="field">
    <input name="default_includes" type="text" value="<TMPL_VAR NAME=DEFAULT_INCLUDES>" />
  </div>
</div>
</fieldset>

<script type="text/javascript">
<!--

rebuildMultiBlogTriggerTable();

// -->
</script>
