<TMPL_INCLUDE NAME="header.tmpl">

<h4>Create a new rebuild trigger</h4>

<p>Select the type of template to build in the specified blog when the particular action occurs.</p>

<form method="post" action="<TMPL_VAR NAME=MULTIBLOG_URL>">

<p>
<label for="rebuild_trigger">On this blog, when </label>
<select name="rebuild_trigger">
<option value="entry">an entry is published</option>
<option value="comment">a comment is posted and approved</option>
<option value="trackback">a trackback ping is received</option>
</select>
</p>
<p>
<label for="rebuild_templates">Rebuild </label>
<select name="rebuild_templates">
<option value="indexes">indexes</option>
<option value="categories">categories</option>
</select>

<label for="rebuild_blog"> in </label>
<select name="rebuild_blog">
<TMPL_LOOP NAME=REBUILD_BLOG_LOOP>
<option value="<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME></option>
</TMPL_LOOP>
</select>

</p>

</form>

<TMPL_INCLUDE NAME="footer.tmpl">
