<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
<!--
  function selectTransferType () {
    select = document.getElementById ('transferType');
    if (select.value == 'entry') {
      document.getElementById ('entry_select').style.display = 'block';
      document.getElementById ('cat_select').style.display = 'none';
      document.getElementById ('blog_select').style.display = 'block';
    } else if (select.value == 'category') {
      document.getElementById ('entry_select').style.display = 'none';
      document.getElementById ('cat_select').style.display = 'block';
      document.getElementById ('blog_select').style.display = 'block';
    } else {
      document.getElementById ('entry_select').style.display = 'none';
      document.getElementById ('cat_select').style.display = 'none';
      document.getElementById ('blog_select').style.display = 'none';
    }
  }

//-->
</script>

<p><form method="post" action="<TMPL_VAR NAME=MULTIBLOG_URL>">
<input type="hidden" name="__mode" value="transfer" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<select name="transfer_type" id="transferType" onchange="selectTransferType()">
<option value="">Select transfer type</option>
<option value="entry">Entry</option>
<option value="category">Category</option>
</select></p>

<div id="entry_select" style="display:none">
<p><label for="entry_id">Send: </label><select name="entry_id">
<TMPL_LOOP NAME=ENTRIES>
<option value="<TMPL_VAR NAME=ENTRY_ID>"><TMPL_VAR NAME=ENTRY_ID>. <TMPL_VAR NAME=ENTRY_TITLE></option>
</TMPL_LOOP>
</select></p>
</div>

<div id="cat_select" style="display:none">
<p><label for="category_id">Send: </label><select name="category_id">
<TMPL_LOOP NAME=CATEGORIES>
<option value="<TMPL_VAR NAME=CATEGORY_ID>"><TMPL_VAR NAME=CATEGORY_LABEL_SPACER><TMPL_VAR NAME=CATEGORY_LABEL></option>
</TMPL_LOOP>
</select></p>
</div>

<div id="blog_select" style="display:none">
<p><label for="dest_blog_id">To: </label>
<select name="dest_blog_id">
<TMPL_LOOP NAME=DEST_BLOGS>
<option value="<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME></option>
</TMPL_LOOP>
</select></p>
<p><input type="submit" value="Transfer"/></p>
</div>

</form>

<TMPL_INCLUDE NAME="footer.tmpl">
