<div class="setting">
  <div class="label">
    <label for="default_access">Default Access:</label>
  </div>
  <div class="field">
    <ul>
    <li><input type="radio" value="1" name="default_access" id="default_access_allow" class="rb" <TMPL_IF NAME=DEFAULT_ACCESS_1>checked="checked"</TMPL_IF> />Allow</li>
    <li><input type="radio" value="0" name="default_access" id="default_access_deny" class="rb" <TMPL_IF NAME=DEFAULT_ACCESS_0>checked="checked"</TMPL_IF> />Deny</li>
    </ul>
  </div>
</div>  
