<TMPL_INCLUDE NAME="header.tmpl">

<form method="post" action="<TMPL_VAR NAME=MULTIBLOG_URL>">
<input type="hidden" name="__mode" value="transfer" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />

<p>To which blog would you like to transfer <i><TMPL_VAR NAME=TRANSFER_TITLE></i>?</p>

<TMPL_IF NAME=IS_CATEGORY_TRANSFER>
<input type="hidden" name="transfer_type" value="category" />
<input type="hidden" name="category_id" value="<TMPL_VAR NAME=CATEGORY_ID>" />
</TMPL_IF>
<TMPL_IF NAME=IS_ENTRY_TRANSFER>
<input type="hidden" name="transfer_type" value="entry" />
<input type="hidden" name="entry_id" value="<TMPL_VAR NAME=ENTRY_ID>" />
</TMPL_IF>

<p><label for="dest_blog_id">Transfer to: </label>
<select name="dest_blog_id">
<TMPL_LOOP NAME=DEST_BLOGS>
<option value="<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME></option>
</TMPL_LOOP>
</select></p>

<p><input type="submit" value=" Transfer " /></p>

<TMPL_INCLUDE NAME="footer.tmpl">
